@import "tailwindcss";

body {
  background-color: #111111/0%;
  font-family: var(--font-playfair-display), Georgia, serif;
}

.helvetica-heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

button {
  cursor: pointer
}